.main{
  background-image: linear-gradient(to right, #344E41 , #a3b18a);
  background-size: cover;
  font-family:'Inter';
  height: 100vh;
}

.container {
  background-color: #344E41;
  background-size: cover;
  font-family:'Inter';
}

.marquee {
  position: relative;
  margin-bottom:2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  overflow: hidden;
  width: 50%;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__LocalScoop {
  width: fit-content;
  margin-bottom: 20px;
  color: white;
  opacity: 0.3;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee__MEnU {
  width: fit-content;
  margin-bottom: 20px;
  color: white;
  opacity: 0.3;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee__Frurange {
  width: fit-content;
  color: white;
  opacity: 0.3;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  font-size: 5vw;
  padding: 0 2vw;
}

.marquee__LocalScoop:hover{
  animation-play-state: running;
  opacity: 1;
}

.marquee__MEnU:hover {
  animation-play-state: running;
  opacity: 1;
}

.marquee__Frurange:hover {
  animation-play-state: running;
  opacity: 1;
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

.introDiv{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10vw;
}

.nameDiv{
  font-size: 50px;
  font-weight: 400;
  font-family: 'Inter';
  margin-left:2vw;
  width:40vw;
}

.learnMoreDiv{
  display:flex;
  margin-left: 2vw;
  margin-top: 2vw;
  height: 1vw;
}

.learnMore{
  font-family:'Source Code Pro';
  font-size: 18px;
  background-color:transparent;
  margin-left: 1vw;
  width:10vw;
}

.arrow{
  margin-top:2px;
}

.learnMore:hover{
  background-color:#a3b18a;
  transition: 1s;
}

.conCont{
  margin-top:10vw;
  margin-left: 2vw;
}

.connectDiv{
  color:#000000;
  opacity: 0.4;
  font-family: 'Source Code Pro';
  margin-bottom: 1vw;
}

.icon{
  margin-right: 0.5vw;
}

.icon:hover{
  transform: scale(1.2);
  transition: 500ms;
}



@media (max-width: 750px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .marquee{
    display:none;
  }

  .introDiv{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 40vw;
  }

  .nameDiv{
    font-size: 30px;
    margin-left: 5vw;
    width: 90vw;
  }
  
  .learnMoreDiv{
    display:flex;
    height: 3vw;
    margin-top: 7vw;
  }

  .learnMore{
    font-size: 15px;
    width: 35vw;
  }

  .conCont{
    margin-top:20vw;
    margin-left: 5vw;
  }

  .arrow{
    margin-left:3vw;
  }

  
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

